{% extends 'base.html' %}
{% load i18n %}


{% block content %}
<h1>{% translate 'Statuses' %}</h1>

<a class="btn btn-primary mb-3" href="{% url 'create_status' %}">Создать статус</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>{% translate 'Name' %}</th>
      <th>{% translate 'Created at' %}</th>
      <th></th>
    </tr>
  </thead>
<tbody>
{% for status in object_list %}
  <tr>
    <td>{{ status.id }}</td>
    <td>{{ status.name }}</td>
    <td>{{ status.created_at }}</td>
    <td>
      <a href="{% url 'update_status' status.id %}">Изменить</a>
      <br>
      <a href="{% url 'delete_status' status.id %}">Удалить</a>
    </td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}