{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate 'Tasks' %}{% endblock %}

{% block content %}
<h1>{% translate 'Tasks' %}</h1>

{{ data }}

<a class="btn btn-primary mb-3" href="{% url 'create_task' %}">{% translate 'Create task' %}</a>

<div class="card mb-3">
  <div class="card-body bg-light">
    <form class="form-inline center" method="get">
      {% for f in filter.form %}
      <div class="mb-3"><label class="form-label" for="{{f.id_for_label}}">{{ f.label }}</label>{{ f }}</div>
      {% endfor %}
      <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" name="own">
    <label class="form-check-label" for="exampleCheck1">{% translate 'Only own' %}</label>
  </div>
      <button type="submit" class="btn btn-primary">{% translate 'Show' %}</button>
    </form>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>{% translate 'Name' %}</th>
      <th>{% translate 'Status' %}</th>
      <th>{% translate 'Author' %}</th>
      <th>{% translate 'Executor' %}</th>
      <th>{% translate 'Created at' %}</th>
      <th></th>
    </tr>
  </thead>
<tbody>

{% for task in filter.qs %}
  <tr>
    <td>{{ task.id }}</td>
    <td><a href="{% url 'task_detail' task.id %}">{{ task.name }}</a></td>
    <td>{{ task.status }}</td>
    <td>{{ task.author }}</td>
    <td>{{ task.executor }}</td>
    <td>{{ task.created_at }}</td>
    <td>
      <a href="{% url 'update_task' task.id %}">{% translate 'Update' %}</a>
      <br>
      <a href="{% url 'delete_task' task.id %}">{% translate 'Delete' %}</a>
    </td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}